  
<h1>Update <%= @project.title %></h1>
<br>
<form action="/projects" method="post">
  <input name="_method" type="hidden" value="update">
  <label for="title">Rename project</label>
  <input name="title" type="text">
  <br>
  <br>
  <button class="main-button" type="submit">Update Project</button>
</form>

<br>
<p><a href="/projects">Return to project list....</a></p>
<h3>OR</h3>

<form action="/projects/<%= @project.id %>/edit" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit" class="delete-button">Delete Project</button>
</form>