<h1 class="title">Volunteer Tracker</h1>
<hr>
<br>
<form action="/projects" method="post">
  <div class="row">
  <div class="form-group">
  <h2 class="basic-text">Add a New Project Below</h2>
    <input name="title" class="form-control" type="text">
    <br>
  </div>
  <button type="submit" class="main-button">Create Project!</button>
</form>
<br>
<a href="">Want to view all projects?</a>

</div>


