<h1 class="title">Volunteer Tracker</h1>
<hr>

<form action="/" method="post">
  <h2 for="title" class="basic-text">Add a New Project Below</h2>
    <input name="title" class="form-control" type="text">
    <br>
  <button type="submit" class="main-button">Create Project!</button>
</form>
<br>

<h1 class="title">Current Projects Listed</h1>
<hr>
<ul>
  <% @projects.each do |project| %>
  <li>
    <a href="/projects/<%= project.id  %>"><em><%= project.title %></em></a>
    <br>
    <% end %>
  </li>
</ul>




