<h3 class="title">Projects</h3>

  <% @projects.each do |project| %>
    <div class="row">
    <div class="edit-project">
    <p class"""><%= project.title %></p>
    <a href="/projects/<%= project.id  %>/edit">Edit</a>
  
  </div>
  <p>Volunteers Associated With Project</p>
  <% volunteers = project.volunteers %>
  <% if volunteers.any? %>
  <% volunteers.each do |volunteer| %>
    <a class="volunteer_link" href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a>
  <% end %>
<% else %>
<p>There are currently no volunteers to display.</p>
<% end %>
<% end %>
</div>
<p><a href="/">Return to main page</a></p>