<h3 class="title">Projects</h3>
<hr>
  <% @projects.each do |project| %>
    <div class="edit-project">
    <a class="project-name"><%= project.title %></a>
    <br>
    <br>
    <a href="/projects/<%= project.id  %>/edit">Edit Project</a>
  </div>
  <br>
  <em>Volunteers Associated With Project</em>
  <% volunteers = project.volunteers %>
  <% if volunteers.any? %>
  <% volunteers.each do |volunteer| %>
    <a class="volunteer_link" href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a>
  <% end %>
<% else %>
<br>
<br>
<p>There are currently no volunteers to display.</p>
<% end %>
<% end %>
<p><a href="/">Return to main page</a></p>
