a {
    font-size: 18px;
    color: #010C5B;
    text-decoration: none !important;
    font-style: italic;
    font-weight: 500;
}

a:hover {
    color: #69AC0A !important;
}

label {
    font-size: 20px;
    font-weight: 500;
}

.basic-text {
    font-size: 18px;
    font-weight: 600;
    color: #010C5B;
}

.container {
    padding-top: 100px;
    padding-right: 100px !important;
    padding-left: 100px !important;
}

.delete-button {
    padding: 12px 25px !important;
    background-color: #FD9B04;
    text-decoration: none !important;
    color: white !important;
    letter-spacing: 0.1em;
    font-size: 15px;
    border-radius: 5px;
}

.delete-button:hover {
    color: white !important;
    background-color: #DB050E;
}

.main-button {
    padding: 12px 25px !important;
    background-color: #02654F;
    text-decoration: none !important;
    color: white !important;
    letter-spacing: 0.1em;
    font-size: 15px;
    border-radius: 5px;
}

.main-button:hover {
    color: white !important;
    background-color: #03B386 !important;
}

/* .project-name {
    font-size: 25px;
    font-weight: 600;
    color: #010C5B;
} */

.second-title {
    font-size: 23px;
    color: #010C5B;
}

.title {
    font-size: 35px;
    color: #010C5B;
}

.volunteers {
    font-size: 20px;
}